.home .hero img
  max-width 450px!important

.home .hero
    text-align left !important
    margin 80px 0

.home .hero .description 
    margin-left 0 !important

h1 
  font-size 48px
  font-weight 800

p
  color rgba($textColor, .88) 

pre, iframe 
  margin 24px 0 !important

.page img 
  margin 40px 0

.home-link 
  .can-hide 
    display: none !important;
  
a:hover 
    color darken($accentColor, 24%)
    text-decoration none !important

.preview:hover 
  h4 
    color $accentColor !important
  img 
    box-shadow 0 0 0 2px $accentColor
    border-radius 8px

// TOOLTIPS

.custom-block.tip, .custom-block.warning, .custom-block.danger
  border-left-width: 4px
  margin 40px 0
  p  
    font-weight 600

.custom-block-title
  display: none 

.custom-block.warning 
    background-color rgba($shopOrange, .08) !important;
    border-color $shopOrange;
    p 
      color: $shopOrange !important

.custom-block.tip 
    background-color rgba($shopGreen, .08) !important;
    border-color $shopGreen;
    p 
      color: $shopGreen !important

.custom-block.danger 
    background-color rgba($shopRed, .08) !important;
    border-color $shopRed;
    p 
      color: $shopRed !important

// CODE SNIPPETS 

.attr-name 
  color: #ffcb6b !important

.attr-value 
  color: #c3e88d !important

.tag 
  color: #f07178 !important

.punctuation {
  color #89ddff !important
}
